<div class="search_inner row">
  <div class="search-container col-lg-5 offset-lg-4">
    <div class="profile-info">
      <div class="user-info">
        <p class="user-name">CuuToiDa12hroitoicanngu</p>
        <p class="user-name__instagrams">Dunghocfpt</p>
        <a href="#!">0 followers</a>
      </div>
      <div class="user-img">
        <img
          src="../assets/img/userAvatar.jpg"
          alt=""
          class="user-img__image"
        />
      </div>
    </div>

    <div class="profile-info__change">
      <button class="profile-change">Edit profile</button>
    </div>

    <div class="whatnews">
      <div class="whatnews_container">
        <a href="#!"><img src="../assets/img/userAvatar.jpg" alt="" /></a>
        <a href="#!"><p>What's news?</p></a>
        <a href="#!" class="whatnews_button"><button>Post</button></a>
      </div>
    </div>
  </div>
</div>
