<div class="side-bar_inner">
  <div class="navbar">
    <a href="../index.html" class="navbar_home">
      <img src="../assets/img/home.svg" alt="Home" />
    </a>
    <a href="#!" class="navbar_search">
      <img src="../assets/img/settingsSelected.svg" alt="Search" />
    </a>
    <a href="../log_in.html" class="navbar_add">
      <img src="../assets/img/addSelected.svg" alt="Add" />
    </a>
    <a href="../log_in.html" class="navbar_like">
      <img src="../assets/img/like.svg" alt="Like" />
    </a>
    <a href="../log_in.html" class="navbar_account">
      <img src="../assets/img/profile.svg" alt="Accounct" />
    </a>
  </div>
  <div class="settings">
    <a href="#!" class="settings_button">
      <img src="../assets/img/settingsSelected.svg" alt="Settings" />
    </a>
  </div>
</div>
