<div class="threads_inner row">
  <div class="threads-container col-lg-5 offset-lg-4">
    <div class="news">
      <!-- News 1 -->
      <div class="news_container">
        <div class="news-logo">
          <a href="#!">
            <img src="../assets/img/user.jpg" alt="user" />
          </a>
        </div>
        <div class="news-info">
          <div class="blog-info">
            <p class="user-name">ucvivine</p>
            <p class="time-posted">11h</p>
          </div>
          <p class="user-blog">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
            tempore eaque quod facilis adipisci architecto quo nemo sed
            asperiores excepturi molestiae ipsum vitae, minus repudiandae
            sapiente voluptates vel voluptatibus a.
          </p>
          <div class="user-reaction">
            <div class="user-heart">
              <a href="#!">
                <img src="../assets/img/heart.svg" alt="" />
                <p class="heart">10</p>
              </a>
            </div>
            <div class="user-comment">
              <a href="#!">
                <img src="../assets/img/comment.svg" alt="" />
                <p class="comment">2</p>
              </a>
            </div>
            <div class="repost">
              <a href="#!">
                <img src="../assets/img/Repost.svg" alt="" />
              </a>
            </div>
            <div class="share">
              <a href="#!">
                <img src="../assets/img/share.svg" alt="" />
              </a>
            </div>
          </div>
        </div>
        <div class="news-more">
          <a href="#!">
            <img src="../assets/img/postmore.svg" alt="" />
          </a>
        </div>
      </div>

      <!-- News 2 -->
      <div class="news_container">
        <div class="news-logo">
          <a href="#!">
            <img src="../assets/img/user.jpg" alt="user" />
          </a>
        </div>
        <div class="news-info">
          <div class="blog-info">
            <p class="user-name">ucvivine</p>
            <p class="time-posted">11h</p>
          </div>
          <p class="user-blog">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
            tempore eaque quod facilis adipisci architecto quo nemo sed
            asperiores excepturi molestiae ipsum vitae, minus repudiandae
            sapiente voluptates vel voluptatibus a.
          </p>
          <div class="user-reaction">
            <div class="user-heart">
              <a href="#!">
                <img src="../assets/img/heart.svg" alt="" />
                <p class="heart">10</p>
              </a>
            </div>
            <div class="user-comment">
              <a href="#!">
                <img src="../assets/img/comment.svg" alt="" />
                <p class="comment">2</p>
              </a>
            </div>
            <div class="repost">
              <a href="#!">
                <img src="../assets/img/Repost.svg" alt="" />
              </a>
            </div>
            <div class="share">
              <a href="#!">
                <img src="../assets/img/share.svg" alt="" />
              </a>
            </div>
          </div>
        </div>
        <div class="news-more">
          <a href="#!">
            <img src="../assets/img/postmore.svg" alt="" />
          </a>
        </div>
      </div>

      <!-- News 3 -->
      <div class="news_container">
        <div class="news-logo">
          <a href="#!">
            <img src="../assets/img/user.jpg" alt="user" />
          </a>
        </div>
        <div class="news-info">
          <div class="blog-info">
            <p class="user-name">ucvivine</p>
            <p class="time-posted">11h</p>
          </div>
          <p class="user-blog">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
            tempore eaque quod facilis adipisci architecto quo nemo sed
            asperiores excepturi molestiae ipsum vitae, minus repudiandae
            sapiente voluptates vel voluptatibus a.
          </p>
          <div class="user-reaction">
            <div class="user-heart">
              <a href="#!">
                <img src="../assets/img/heart.svg" alt="" />
                <p class="heart">10</p>
              </a>
            </div>
            <div class="user-comment">
              <a href="#!">
                <img src="../assets/img/comment.svg" alt="" />
                <p class="comment">2</p>
              </a>
            </div>
            <div class="repost">
              <a href="#!">
                <img src="../assets/img/Repost.svg" alt="" />
              </a>
            </div>
            <div class="share">
              <a href="#!">
                <img src="../assets/img/share.svg" alt="" />
              </a>
            </div>
          </div>
        </div>
        <div class="news-more">
          <a href="#!">
            <img src="../assets/img/postmore.svg" alt="" />
          </a>
        </div>
      </div>

      <!-- News 4 -->
      <div class="news_container">
        <div class="news-logo">
          <a href="#!">
            <img src="../assets/img/user.jpg" alt="user" />
          </a>
        </div>
        <div class="news-info">
          <div class="blog-info">
            <p class="user-name">ucvivine</p>
            <p class="time-posted">11h</p>
          </div>
          <p class="user-blog">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
            tempore eaque quod facilis adipisci architecto quo nemo sed
            asperiores excepturi molestiae ipsum vitae, minus repudiandae
            sapiente voluptates vel voluptatibus a.
          </p>
          <div class="user-reaction">
            <div class="user-heart">
              <a href="#!">
                <img src="../assets/img/heart.svg" alt="" />
                <p class="heart">10</p>
              </a>
            </div>
            <div class="user-comment">
              <a href="#!">
                <img src="../assets/img/comment.svg" alt="" />
                <p class="comment">2</p>
              </a>
            </div>
            <div class="repost">
              <a href="#!">
                <img src="../assets/img/Repost.svg" alt="" />
              </a>
            </div>
            <div class="share">
              <a href="#!">
                <img src="../assets/img/share.svg" alt="" />
              </a>
            </div>
          </div>
        </div>
        <div class="news-more">
          <a href="#!">
            <img src="../assets/img/postmore.svg" alt="" />
          </a>
        </div>
      </div>

      <!-- News 5 -->
      <div class="news_container">
        <div class="news-logo">
          <a href="#!">
            <img src="../assets/img/user.jpg" alt="user" />
          </a>
        </div>
        <div class="news-info">
          <div class="blog-info">
            <p class="user-name">ucvivine</p>
            <p class="time-posted">11h</p>
          </div>
          <p class="user-blog">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
            tempore eaque quod facilis adipisci architecto quo nemo sed
            asperiores excepturi molestiae ipsum vitae, minus repudiandae
            sapiente voluptates vel voluptatibus a.
          </p>
          <div class="user-reaction">
            <div class="user-heart">
              <a href="#!">
                <img src="../assets/img/heart.svg" alt="" />
                <p class="heart">10</p>
              </a>
            </div>
            <div class="user-comment">
              <a href="#!">
                <img src="../assets/img/comment.svg" alt="" />
                <p class="comment">2</p>
              </a>
            </div>
            <div class="repost">
              <a href="#!">
                <img src="../assets/img/Repost.svg" alt="" />
              </a>
            </div>
            <div class="share">
              <a href="#!">
                <img src="../assets/img/share.svg" alt="" />
              </a>
            </div>
          </div>
        </div>
        <div class="news-more">
          <a href="#!">
            <img src="../assets/img/postmore.svg" alt="" />
          </a>
        </div>
      </div>

      <!-- News 6 -->
      <div class="news_container">
        <div class="news-logo">
          <a href="#!">
            <img src="../assets/img/user.jpg" alt="user" />
          </a>
        </div>
        <div class="news-info">
          <div class="blog-info">
            <p class="user-name">ucvivine</p>
            <p class="time-posted">11h</p>
          </div>
          <p class="user-blog">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
            tempore eaque quod facilis adipisci architecto quo nemo sed
            asperiores excepturi molestiae ipsum vitae, minus repudiandae
            sapiente voluptates vel voluptatibus a.
          </p>
          <div class="user-reaction">
            <div class="user-heart">
              <a href="#!">
                <img src="../assets/img/heart.svg" alt="" />
                <p class="heart">10</p>
              </a>
            </div>
            <div class="user-comment">
              <a href="#!">
                <img src="../assets/img/comment.svg" alt="" />
                <p class="comment">2</p>
              </a>
            </div>
            <div class="repost">
              <a href="#!">
                <img src="../assets/img/Repost.svg" alt="" />
              </a>
            </div>
            <div class="share">
              <a href="#!">
                <img src="../assets/img/share.svg" alt="" />
              </a>
            </div>
          </div>
        </div>
        <div class="news-more">
          <a href="#!">
            <img src="../assets/img/postmore.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
